

*{
padding:0;
margin:0;
}

body{ 
/*background-image:url(../images/logo.jpg);*don't forget to jump folders when you use a image in the images folder!!/
/*background:#ddd;*/
font-size:100%;
}

div#wrapper{
width:940px;
margin:0 auto 20px auto;
}

div.nav1,div.nav2{
line-height:30px;
width:300px;
height:50px;
margin-top:20px;
}


div.nav1
{
float:left;	
}



div.nav2
{
float:right;
}


div.nav1 li, div.nav2 li{
float: left;
list-style-type:none;
width: 33%;
text-align: center;
font-family:Sans-serif;
font-size: .9em;
}



div.nav1 a,div.nav2 a{
text-decoration:none;
color:gray;
display: block;
}

div.nav1 a:hover,div.nav2 a:hover{
background:#000;
color:#fff;
}



header{
padding: 10px 0 0 0;
clear:both;
/*background-color:orange;*/

}

@font-face{
font-family: AlexBrush-Regular;
src: url('AlexBrush-Regular.ttf');	
}

header p.center1{
text-align:center;
margin-top:10px;
font-size:6.0em;
font-family:AlexBrush-Regular,Sans-serif, helbetica ;
}

header p.center2{
text-align:center;
font-size:1.0em;
font-style: italic;
}


hr{
margin-top:20px;
padding:0 5px 0 5px;
}




div#container1 {
width: 930px;
height:620px;
margin-top: 30px;
margin-bottom: 10px;
float: left;
}

div.containerBox1
{
float:left;
width: 360px;
height: 560px;  
margin-right:10px;
}


div.containerBox2
{
float:right;
width: 550px;
height: 300px;  
margin-bottom:30px;
}



div.containerBox3
{
float:right;
width: 270px;
height: 250px;
}

div.containerBox4
{
float:right;
width: 270px;
height: 250px;
margin-right:10px;
}


table{
width: 930px;
border: 1px solid red;
border-collapse:collapse;
margin: 30px auto;
} 


td{
border: 1px solid red;
width: .5%;
vertical-align: top;
padding: 10px;
}



/*

div#container2 {
width:930px;
height:380px;
clear:both;
margin-top:30px;
margin-bottom:10px ;
}

*/
div.containerBox5
{
float:left;
width: 455px;
height: 285px;
margin-right:10px;
}
div.containerBox6
{
float:right;
width: 455px;
height: 285px;
}


img#gallery1, img#gallery2, img#gallery3,
img#gallery4, img#gallery5, img#gallery6{
margin: 35px 15px 5px 15px;
}

img#gallery5, img#gallery6{
height:285px;
}


img{
max-width:100%;
}


p{
margin-bottom:20px;
line-height:1.5;
font-family: verdana, helvetica, arial;
}

h1{
font-size: 2.441em;/*1em = 16px*/
line-height:1.15;
margin-bottom:7px;
color:#292F55;
font-weight:200;
}

p.explain{
padding-left:50px;
font-size: 1em;
font-weight:200;	
}


footer{
clear:both;
height:50px;
margin-top:20px;
line-height: 50px;
}

div.box1
{
clear:both;
background:yellow;
width: 450px;
margin: 0 auto;
}



footer li{
float: left;
list-style-type:none;
margin-right: 30px;
color: #666;
}

footer a{
color: #666;
}





div#banner{
margin:10px 0 20px 0 ;
height: 50px;
}

div.box2
{
width: 180px;
margin: 0 auto;
}


img#logo1,img#logo2,img#logo3,img#logo4{
width: 20%;
margin-left:5px;
}

p.valid
{
color: #666;
}

a{
color: #666;
}




